<!DOCTYPE HTML>
<html>
<head>
<title>Join Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<?= link_tag('assets/business/css/style.css'); ?> 
</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<a href="<?= base_url('business/index/index') ?>"><img src="<?= base_url('assets/business') ?>/images/logo.png" alt=""/> </a>
		</div>
		<div class="social-icons">
		    <ul>
		      <li><a href="<?= base_url('business/index/login') ?>" title="合作商后台登录" ></a></li>
			  <li><a href="#" ></a></li>
			</ul>
		</div>
		<div class="h_menu">
			<ul>
				<li><a href="<?= base_url('business/index/index') ?>">主页</a></li>
				<li><a href="<?= base_url('business/index/work') ?>">合作商</a></li>
				<li><a href="<?= base_url('business/index/about') ?>">关于我们</a></li>
				<li class="active"><a href="#">加入我们</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
<!-- start slider -->
<div class="slider_bg">
<div class="wrap">
	<div class="slider1">
		<h2>join us</h2>
	</div>
</div>
</div>
<!-- start main -->
<div class="mid_bg">
<div class="wrap">
	<div class="contact">				
				  <div class="contact-form">
			 	 <div class="content">
		 	 	<h2 class="style">Join Us</h2>
		 	 </div>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>Company</label></span>
						    	<span><input name="Company" type="text" class="textbox"></span>
						    </div>
                            <div>
						    	<span><label>Name</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-mail</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Mobile</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>Subject</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="" value="Submit us"></span>
						  </div>
					    </form>
				    </div>
  			<div class="clear"> </div>
		</div>	
</div>
</div>
<!-- start footer -->
<div class="footer_bg">
<div class="wrap">
<div class="footer">
		<div class="soc-icons">
		    <ul>
		      <li><a href="#" target="_blank"></a></li>
			  <li><a href="#" target="_blank"></a></li>
		      <li><a href="#" target="_blank"></a></li>
			  <li><a href="#" target="_blank"></a></li>
		      <li><a href="#" target="_blank"></a></li>
			  <li><a href="#" target="_blank"></a></li>			  
			</ul>
		</div>
		<div class="copy">
			<p class="link"><span>Copyright &copy; 2014.Company name 声物功能测试模板v1.0</span></p>
		</div>
</div>
</div>
</div>
<div style="display:none"></div>
</body>
</html>