<script type="text/javascript" >
	var base_url = '<?= base_url() ?>';
</script>
<nav id="navbar">
    <div class="content clearfix">
        <a id="logo">
            <img src="<?= base_url() ?>assets/business/images/logo.png" class="img-responsive"/>
        </a>
        <span id="navbtn"><i class="nbtn"></i></span></span>
        <div id="navlist" class="clearfix">
            <ul>
                <li>
                    <a href="<?= base_url() ?>business/index/index">
                        首页
                    </a>
                </li>
                <li>
                    <a href="<?= base_url() ?>business/index/work">
                        游戏
                    </a>
                </li>
                <li>
                    <a href="<?= base_url() ?>business/index/about">
                        关于我们
                    </a>
                </li>
                <li>
                    <a href="<?= base_url() ?>forum/index/index">
                        论坛
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>