<?php $this->load->view('business/header.html');?>
<SCRIPT language=javascript>
	var secs=parseInt( '<?= $sec ?>' );//5秒
	var roll = '';
	
	$(function(){ 
		jQuery('#number').html( secs )
	}); 
	
	for(i=1;i<=secs;i++) { 
		window.setTimeout("update(" + i + ")", i * 1000);
	} 
	function update(num) { 
		roll = secs - num;
		jQuery('#number').html( roll )
		if(num == secs){ 
			reback( "<?= $gotourl ?>" )
		}
	}
	
	function reback( url ){
		if( url == 'back' ){
			window.history.back();
		}else{
			window.location = url;
		}
	}
</SCRIPT>
    <div id="mws-wrapper">
    	<?php $this->load->view('business/left.html');?>    
        <div id="mws-container" class="clearfix">
            <div class="container">
            	<div id="mws-error-container">
                	<h1 id="mws-error-code"><? if( $color==1 ){ ?>Success<? }else{ ?>Error<? } ?> <? if( $color==1 ){ ?>001<? }else{ ?>000<? } ?></h1>
                    <p id="mws-error-message"><?= $error ?></p>
                    <? if( !empty( $down ) ){ ?>
                        <p style="font-size:24px; font-weight:bold;">点击下载附件：<a style="text-decoration:none; color:red;" href="<?= $down ?>"><?= $filename ?></a></p>
                    <? } ?>
                    <p id="mws-error-message"><span <? if( empty( $sec ) ){ ?>style="display:none;"<? } ?> ><span id="number"></span>秒后自动跳转，</span><a style="text-decoration:none; color:#323232;" href="javascript:void( reback( '<?= $gotourl ?>' ) )">如果您的浏览器没有自动跳转，请点击这里</a></p>
                </div>
            </div>            
		</div>
        </div>
        <!-- End Container Wrapper --> 
    </div>
    <!-- End Main Wrapper -->
</body>
</html>
