<script language="javascript" type="text/javascript" src="<?= base_url(); ?>assets/public/js/jquery.validate.min.js"></script>
<script type="text/javascript" >
$(function() {
  $("#form1").validate({
    rules: {
        sellername: {
          required: true,
        },
        phone: {
          digits: true,
          maxlength: 11,
          minlength: 11,
        },
        appid: {
          required: true,
        },
        appkey: {
          required: true,
        },
      },
    messages: {
      sellername: {
        required: '商家名不能为空',
      },
      phone: {
        digits: "手机必须是数字",
          maxlength: '手机号码不会超过11位',
        minlength: '手机号码不会小于11位',
      },
      appid: {
        required: 'appid不能为空',
      },
      appkey: {
        required: 'appkey不能为空',
      },
    }
  });
});

  function generateMixed(n) {
	 var chars = ['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','h'];
     var res = "";
     for(var i = 0; i < n ; i ++) {
         var id = Math.ceil(Math.random()*16);
         res += chars[id];
     }
     return res;
  }
  
  
  function randoms_app(){
  	var appid = 'se'+generateMixed(16);
	var appkey = generateMixed(32);
	$('input[name=appid]').val( appid );
	$('input[name=appkey]').val( appkey );
  }
</script>
<div id="main-content">
    <!-- End .clear -->
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>商家信息</h3>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
            <form name="form1" id="form1" method="post" action="<?= base_url().'admin/seller/seller_action' ?>" >
                <p>
                  <label>商家名称</label>
                  <input class="text-input small-input" type="text" name="sellername" value="<?php echo $sellername ?>" />
                  <span class="input-notification"></span>
                </p>
                <p>
                  <label>电话</label>
                  <input class="text-input small-input" type="text" name="phone" value="<?php echo $phone ?>" />
                  <span class="input-notification"></span>
                </p>
                <p>
                  <label>appid</label>
                  <input class="text-input small-input" type="text" name="appid" value="<?php echo $appid ?>" />
                  <span class="input-notification"></span>
                  <input type="button" class="button" onclick="randoms_app()" value="随机生成"  />
                </p>
                <p>
                  <label>appkey</label>
                  <input class="text-input small-input" type="text" name="appkey" value="<?php echo $appkey ?>" />
                  <span class="input-notification"></span>
                </p>
                <p>
                  <label>是否启用</label>
                  <input type="radio" name="status" value="1" <?php if( $status == 1 ){ echo 'checked'; } ?> >是
                  <input type="radio" name="status" value="0" <?php if( $status == 0 ){ echo 'checked'; } ?> >否
                </p>
                <br>
                <input type="hidden" name="action" value="<?= $action ?>" />
                <input type="hidden" name="id" value="<?= $id ?>" />
                <input type="hidden" id="from_url" name="from_url" value="<? if( empty( $from_url ) ){ echo ''; }else{ echo $from_url; } ?>"  />
                <input class="button" type="submit" value="提交" />
                <input class="button" type="button" onClick="javascript:history.go(-1)" value="返回" />
            </form>
        </div>
      </div>
    </div>
</div>
