<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>二维码扫描</title>
<link href="<?= base_url(); ?>assets/wechat/css/bootstrap.css" rel="stylesheet">
<link href="<?= base_url(); ?>assets/wechat/css/index.css" rel="stylesheet">
<script src="<?= base_url(); ?>assets/wechat/js/bootstrap/jquery-1.11.1.min.js"></script>
<script src="<?= base_url(); ?>assets/wechat/js/touch.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
	$(function(){
		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: '<?= $appid ?>', // 必填，公众号的唯一标识
			timestamp: <?= $timestamp ?>, // 必填，生成签名的时间戳
			nonceStr: '<?= $noncestr ?>', // 必填，生成签名的随机串
			signature: '<?= $signature ?>',// 必填，签名，见附录1
			jsApiList: ['scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		
		wx.ready(function(){
			wx.scanQRCode({
				needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
				scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
				success: function (res) {
					var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
					window.location = result;
				}
			});
		})
	})
    
</script>
</head>

<body>

</body>
</html>
