/* css  reset */
html, body, form {
	font-size: 14px;
	font-size: 14px\9;
	height: 100%;
	margin: 0;
}
body {
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	overflow-y: scroll;
}
@media (max-width: 991px) {
html, body, form {
	font-size: 13px;
	font-size: 13px\9;
}
}
@media (max-width: 767px) {
html, body, form {
	font-size: 12px;
	font-size: 12px\9;
}
}
h1 {
	font-size: 3em;
	margin: 0;
	font-weight: bold;
}
h3 {
	font-size: 2em;
	margin: 0;
	font-weight: bold;
}
h4 {
	font-size: 1.3em;
	margin: 0;
	font-weight: bold;
}
small {
	margin-left: 5px;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
a {
	color: #34393b;
}
a:hover, a:focus {
	color: #444;
}
/* WP8 and IE10 hack */
@-webkit-viewport {
width: device-width;
}
@-moz-viewport {
width: device-width;
}
@-ms-viewport {
width: device-width;
}
@-o-viewport {
width: device-width;
}
@viewport {
width: device-width;
}
.ie {
	height: 100%;
	width: 100%;
	background: url(../images/404.jpg) no-repeat center center #F3F2EE;
	position: fixed;
	z-index: 999999;
}
.owl-carousel {
	width: 100%;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* temporary fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-controls .owl-dot {
	cursor: pointer;
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
}
/* If mouseDrag:false then you are able to select text */
.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}
/* 方向按钮小圆点 */
.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Styling dots*/
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-dots .owl-dot span {
	-webkit-backface-visibility: visible;
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
	transition-property: opacity;
	transition-duration: 200ms;
	transition-timing-function: ease;
}
.owl-theme .owl-dots .owl-dot.active span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
.banner-cell {
	width: 100%;
	max-height: 600px;
	position: relative;
}
.banner-cell .text {
	position: absolute;
	width: 90%;
	height: 160px;
	top: 50%;
	left: 5%;
	text-align: center;
	color: #fff;
	text-shadow: 5px 1px 4px #000;
	margin-top: -80px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0.3s;
	-o-transition: all .3s ease-in-out 0.3s;
	-moz-transition: all .3s ease-in-out 0.3s;
	transition: all .3s ease-in-out 0.3s;
}
.active .banner-cell .text {
	filter: alpha(opacity=100);
	opacity: 1;
}
.banner-cell .text > h2 {
	line-height: 50px;
	font-size: 3em;
	margin: 0;
}
.banner-cell .text > p {
	min-height: 30px;
	line-height: 30px;
	margin: 20px 0;
	font-size: 1.4em;
}
.banner-cell .text > a {
	display: block;
	height: 40px;
	width: 100px;
	line-height: 40px;
	margin: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #8DC63F;
	text-shadow: none;
	-moz-box-shadow: 0 2px 0 0 #72a230, 0 1px 0 0 rgba(225, 225, 225, 0.5) inset;
	-webkit-box-shadow: 0 2px 0 0 #72a230, 0 1px 0 0 rgba(225, 225, 225, 0.5) inset;
	box-shadow: 0 2px 0 0 #72a230, 0 1px 0 0 rgba(225, 225, 225, 0.5) inset;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.banner-cell .text > a:hover {
	background: #80B636;
}
@media (max-width: 767px) {
.banner-cell .text {
	height: 120px;
	margin-top: -60px;
}
.banner-cell .text > h2 {
	font-size: 1.6em;
	line-height: 30px;
}
.banner-cell .text > p {
	font-size: 1em;
	line-height: 20px;
	margin: 10px 0;
}
.banner-cell .text > a {
	height: 30px;
	width: 70px;
	line-height: 30px;
}
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 10px 0;
	overflow: hidden;
	z-index: 9;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#navbar * {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#navbar #logo {
	width: 225px;
	height: 60px;
	display: block;
	float: left;
	overflow: hidden;
}
#navbar #navlist {
	width: 100%;
	position: relative;
	height: 60px;
}
#navbar #navlist > ul {
	height: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	color: #fff;
}
#navbar #navlist > ul > li {
	display: block;
	float: left;
	padding: 20px;
}
#navbar #navlist > ul > li > a {
	color: #fff;
	height: 20px;
	display: block;
	font-size: 1.2em;
}
#navbar #navlist > ul > li > a:hover {
	color: #8DC63F;
}
#navbtn {
	display: none;
}
#navbar.move {
	background: #30373B;
	height: 60px;
	-moz-box-shadow: 0 5px 5px rgba(50, 50, 50, 0.3);
	-webkit-box-shadow: 0 5px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 0 5px 5px rgba(50, 50, 50, 0.3);
}
#navbar.move #logo {
	width: 150px;
	height: 40px;
}
#navbar.move #navlist {
	height: 40px;
}
#navbar.move #navlist > ul {
	height: 40px;
}
#navbar.move #navlist > ul li {
	padding: 10px 20px;
}
#navphone {
	display: none;
}
@media (max-width: 767px) {
#navbar {
	position: relative;
	height: 50px;
	padding: 8px 0;
	background: #30373B;
}
#navbar #logo {
	width: 128px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	font-size: 1.3em;
}
#navbar #navlist {
	display: none;
}
#navbar #navbtn {
	height: 34px;
	width: 25px;
	float: right;
	display: block;
}
.nbtn {
	position: relative;
	margin-top: 16px;
	margin-bottom: 7px
}
.nbtn, .nbtn:after, .nbtn:before {
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.nbtn:after, .nbtn:before {
	position: absolute;
	content: ""
}
.nbtn:before {
	top: -7px
}
.nbtn:after {
	top: 7px
}
#navbtn.open .nbtn {
	background-color: transparent
}
#navbtn.open .nbtn:after, #navbtn.open .nbtn:before {
	background-color: #fff
}
#navbtn.open .nbtn:before {
	-moz-transform: translateY(7px)rotate(45deg);
	-ms-transform: translateY(7px)rotate(45deg);
	-webkit-transform: translateY(7px)rotate(45deg);
	transform: translateY(7px)rotate(45deg)
}
#navbtn.open .nbtn:after {
	-moz-transform: translateY(-7px)rotate(-45deg);
	-ms-transform: translateY(-7px)rotate(-45deg);
	-webkit-transform: translateY(-7px)rotate(-45deg);
	transform: translateY(-7px)rotate(-45deg)
}
#navphone {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	background:#000 \9;
	display: table;
	visibility: hidden;
	opacity: 0;
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#navphone > ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle
}
#navphone > ul > li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
	margin: 0;
	text-align: center
}
#navphone > ul > li > a {
	color: #fff;
	font-size: 2em
}
#navphone.open {
	z-index: 8;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}
}
.wrap {
	width: 100%;
	padding: 50px 0;
}
.wrap .title {
	text-align: center;
	font-size: 2em;
	color: #3F3F3F;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.wrap .title > span {
	border-bottom: 1px solid #8DC63F;
	padding-bottom: 11px;
}
.wrap .text {
	text-align: center;
	margin-bottom: 50px;
}
.content {
	max-width: 970px;
	margin: auto;
	padding: 0 15px;
}
#work {
	background: #fff;
	color: #656d74;
}
#help {
	background: #f1f1f1;
	color: #656d74;
}
.help-box {
	width: 100%;
	position: relative
}
.help-box > ul {
	position: relative;
	margin: 0 0 30px;
	width: 100%;
	text-align: center;
}
.help-box li {
	display: block;
	float: left;
	width: 15%;
	margin-right: 2%;
}
.help-box li.last {
	margin: 0;
}
.help-box li.active a {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2)
}
.help-box li a {
	width: 72px;
	height: 72px;
	margin: auto;
	display: block;
	cursor: pointer;
	-webkit-transform-origin: bottom center;
	-moz-transform-origin: bottom center;
	-ms-transform-origin: bottom center;
	-o-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease
}
.help-box .nib {
	position: absolute;
	display: block;
	background: url(../images/pane-nib.png) no-repeat bottom center;
	width: 40px;
	height: 30px;
	top: 72px;
	left: 0px;
	-webkit-transition: left 0.2s ease;
	-moz-transition: left 0.2s ease;
	-o-transition: left 0.2s ease;
	transition: left 0.2s ease;
	z-index: 7;
}
.help-box .panes {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease 0ms;
	-o-transition: height 0.3s ease 0ms;
	transition: height 0.3s ease 0ms
}
.help-box .panes .pane {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	visibility: visible \9;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease
}
.help-box .panes .pane.active {
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}
.help-box .panes .pane .screenshot {
	position: relative;
	background: #eaedee;
	background-repeat: no-repeat;
	padding: 20px 50px;
}
.help-box .panes .pane .txt {
	padding: 20px 50px;
}
.help-box .panes .pane .txt span {
	line-height: 40px;
	height: 40px;
	margin-bottom: 15px;
	font-size: 2em;
	display: block;
}
.help-box .panes .pane .txt span > img {
	display: none;
}
.help-box .panes .pane .txt p {
	color: #737e89;
	margin: 0;
}
 @media (max-width: 767px) {
.help-box>ul.help-list {
	display: none
}
.help-box .nib {
	display: none
}
.help-box .panes {
	height: auto !important;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
.help-box .panes .pane {
	position: relative;
	display: block;
	height: 60px;
	padding: 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	cursor: pointer;
	cursor: -moz-pointer;
	cursor: -webkit-pointer;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
}
.help-box .panes .pane.active {
	height: 130px;
	background: #23292c;
	color: #fff;
}
.help-box .panes .pane .txt p {
	filter: alpha(opacity=0);
	opacity: 0;
}
.help-box .panes .pane.active p {
	height: 50px;
	filter: alpha(opacity=100);
	opacity: 1
}
.help-box .panes .pane .txt {
	padding: 0;
}
.help-box .panes .pane .txt span {
	position: relative;
	font-size: 1.5em;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
}
.help-box .panes .pane .txt span > img {
	width: 50px;
	height: 50px;
	float: left;
	display: block;
	margin-right: 5px;
}
.help-box .panes .pane .screenshot {
	display: none
}
}
.service-box {
	text-align: center;
	margin-bottom: 30px;
}
.service-box > h4 {
	margin-top: 20px;
}
#links.flickity-enabled {
	position: relative;
	background: none;
}
#links .link {
	width: 100%;
}
#links .flickity-prev-next-button {
	width: 30px;
	height: 30px;
	background: #000;
	margin-top: -15px;
	filter: alpha(opacity=100);
	opacity: 1;
}
#links .flickity-prev-next-button svg {
	margin-top: 2px;
}
#links .flickity-prev-next-button.previous {
	left: -40px;
}
#links .flickity-prev-next-button.next {
	right: -40px;
}
 @media (max-width: 767px) {
#links .flickity-prev-next-button {
	display: none;
}
}
#footer {
	background: #f6f6f6;
	width: 100%;
	color: #969ba2;
	border-top: 1px solid #c4c4c4;
	padding: 40px 0;
}
#footer .logo {
	width: 150px;
	height: 40px;
}
#footer .icons {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 40px;
}
#footer .icons li {
	height: 40px;
	width: 40px;
	font-size: 30px;
	line-height: 40px;
	float: right;
	display: block;
	margin-left: 10px;
}
#footer .icons li > i:hover {
	color: #8DC63F;
	cursor: pointer;
	outline: none;
}
 @media (max-width: 767px) {
#footer {
	text-align: center;
}
#footer .icons {
	float: none;
	width: 100%;
}
#footer .icons li {
	display: inline-block;
	float: none;
}
#footer .logo {
	margin: 0 auto 20px;
}
}
.banner {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner.partner {
	background-image: url(../images/partner.jpg)
}
.banner.about {
	background-image: url(../images/about.jpg)
}
.banner .title {
	padding: 20% 0 15% 0;
	font-size: 3em;
	color: #fff;
	text-shadow: 5px 1px 4px #000;
}
.partner-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 20px;
}
.partner-box .img {
	width:100%;
	position: relative;
}
 
.partner-box .txt {
	height: 158px;
	padding: 20px;
	overflow: hidden;
	background: #F6F6F6;
}
.partner-box .txt > h4{
	height:24px;
	line-height:24px;	
	overflow: hidden;
}
.partner-box .txt > p {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	margin:10px 0;
}
.partner-box .txt > h4 >small {
	color: #c9c9c9;
}
#about {
	font-size: 1.2em;
	line-height: 28px;
}
